{%extends 'base.html'%}
{%block head%}
<script>
	var checked_item = [];
	var t_all = 0;
	function t() {

            $('.cart_list_td').each(function () {
                p = parseFloat($(this).find('.col05').text());
                n = parseInt($(this).find('.num_show').val());
                t_g = p * n;
                if($(this).find('.col01').children().prop('checked')){
                    t_all += t_g;
				}
                $(this).find('.col07').text(t_g.toFixed(2));
            });
            $('.total_count em').text($('.cart_list_td').length);
            $('.settlements').find('em').text(t_all.toFixed(2)).next().next().text($(':checked:not(#check_all)').length);
        } //计算
    function jiajian(obj,itemnum,num1) {
		opp = obj.parent().parent().next();
		xiaoji = parseFloat(opp.text());
		goodid = (obj.parent().next().val());
		$.get('/cart/addcart/', {'itemid':goodid,'itemnum':itemnum}, function (dat) {
			if(dat.isadd){
			    num2 = itemnum+num1;
			    obj.parent().find('.num_show').val(num2);
			    t();
			}else{
				alert('0')
			}
		});
    } //修改数量
	function jia(obj) {
			obj = $(obj);//获取对象
			var num1 = parseInt(obj.next().val());
			itemnum = 1; // 数量
			jiajian(obj,itemnum,num1);
	} //加
	function jian(obj) {
			obj = $(obj);
			var num1 = parseInt(obj.prev().val());
			itemnum = -1; // 数量
			jiajian(obj,itemnum,num1);
	} //减
	function del(id) {
		if (confirm('删除该商品吗')){
			$.get('/cart/del/', {'del_id':id}, function (dat) {
				if(dat.isdel){
				    $('#'+id).remove();
				}
				else{
				    alert('失败')
				}
            });
		}
    }
	$(function  () {
		t();

		$('#check_all').click(function () {
		    t_all = 0;
			var checked = $(this).prop('checked');
			$(':checkbox:not(#check_all)').prop('checked',checked);
			t();
        }); //全选商品
        $(':checkbox:not(#check_all)').click(function () {
            t_all = 0;
            var checkbox_count = $(':checkbox:not(#check_all)').length;
            var checked_count = $(':checked:not(#check_all)').length;
            if(checkbox_count == checked_count){
                $('#check_all').prop('checked',true);
			}else{
				$('#check_all').prop('checked',false);
			}
			t();
        }); //单选商品
        $('.num_show').click(function () {
			num1 = parseInt($(this).val());
		}); //选中修改数量
		$('.num_show').blur(function () {
			var num3 = parseInt($(this).val());
			if (num3 < 0){
			    num3 = 1
			}
			itemnum = num3-num1;
			jiajian($(this),itemnum,num1);
		}); // 离开修改数量
    });
</script>
{%endblock head%}

{%block tit%}购物车{%endblock tit%}
    {%block body%}
	<div class="total_count">全部商品<em></em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	<form method="post" action="/cart/reorder/">
	{%csrf_token%}
	{%for cart in cart_list%}
	<ul class="cart_list_td clearfix" id="{{cart.id}}">
		<li class="col01">
			<input type="checkbox" name="cart_id" value="{{cart.id}}" checked>
		</li>
		<li class="col02"><img src="/static/{{cart.goods.gpic}}"></li>
		<li class="col03">{{cart.goods.gtitle}}<br><em>{{cart.goods.gprice}}元/{{cart.goods.gunit}}</em></li>
		<li class="col04">{{cart.goods.gunit}}</li>
		<li class="col05">{{cart.goods.gprice}}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" onclick="jia(this)" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{cart.count}}">
				<a href="javascript:;" onclick="jian(this)" class="minus fl">-</a>
			</div>
			<input type="hidden" value="{{cart.goods_id}}">
		</li>
		<li class="col07"></li>
		<li class="col08"><a href="javascript:del({{cart.id}});">删除</a></li>
	</ul>
	{%endfor%}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" id="check_all" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em></em><br>共计<b></b>件商品</li>
		<li class="col04"><input type="submit" id="haha" value="去结算"></li>
	</ul>
	</form>
	{%endblock body%}